<!DOCTYPE html>
<!--
  Name: Marinos Dakis
  Date: 05.24.2021
  Section: CS 355

  Here an admin will be able to display all information about a user, including the current classes they have on their account.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Search</title>
    <link rel="stylesheet" href="/css/qcfirst-style.css">
    <link rel="stylesheet" href="/css/style-qc.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src = "/js/jquery-3.6.0.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<!-- adapted from [3/30/2021] https://www.youtube.com/watch?v=IvQAfNWnSYc&ab_channel=OnlineTutorials -->
<header id="header">
    <%- include ("./partials/header-admin"); %>
</header>
<!-- end adaptation -->

<div class="flexbox">
    <h2>User Search</h2>

    <!-- display error messages -->
    <%- include ("./partials/messages"); %>

    <form id="submit" method="POST" action="/user-search">
        <div class="horizontal-container">
            <input type="email" id="userSearch" name="userSearch" placeholder="Enter user's email">
            <button type="submit" id="search" name="search">Search</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="center table-hover">
            <tr id="headline">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>User Type</th>
                <th>Creation Day</th>
                <th>Classes</th>
            </tr>
            <!-- adapted from: https://www.geeksforgeeks.org/find-the-length-of-a-javascript-object/ -->
            <% if (Object.keys(userList).length > 0) {  %>

                <% let deadlineDate = new Date(userList.creationDate).toString().substring(0, 15); %>
            <tr>
                <td><%= userList.firstName %></td>
                <td><%= userList.lastName %></td>
                <td><%= userList.userName %></td>
                <td><%= userList.userType %></td>
                <td><%= deadlineDate %></td>
                <td><%= userList.classes %></td>
                <% }  %>

        </table>
    </div>

</div>

<!--footer-->
<!--adapted from [3/31/2021]: https://www.youtube.com/watch?v=KUHrMzN7ey8&ab_channel=MarcHinton -->
<footer id="footer">
    <%- include ("./partials/footerUser"); %>
</footer>
<!-- end adaptation -->

</body>

</html>